.content{
    padding: 70px 50px 100px 50px;
 }

#appbar-product{
    width: 25%;;
    background-color: rgb(89, 106, 201);
   
}
/*buttonSuaXoa= button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.sua-xoa.MuiButton-containedPrimary*/
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.sua-xoa.MuiButton-containedPrimary {
    margin-top: 10px;
    margin-right: 15px;
    background-color: rgb(216, 117, 51);
}

tbody.MuiTableBody-root {
    background-color: rgb(255, 255, 255);
}
