.style-product{
    margin: 20px 80px 0px 40px;
}
.button-themsp{
    margin: 10px;
}
#appbar-product{
    width: 25%;;
    /* background-color: aqua; */
    color: aqua;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters{
    background-color: rgb(173, 187, 187);
}
th.MuiTableCell-root.MuiTableCell-head.WithStyles\(ForwardRef\(TableCell\)\)-head-2 {
    background-color: #2a5c85;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.button-themsp.MuiButton-containedPrimary {
    background-color: #101aca;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.sua-xoa.MuiButton-containedPrimary {
    margin-left: 15px;
    background-color: rgb(216, 117, 51);
}
